@import "mixins/index.scss";
@import "base/base.scss";
@import "flex.scss";
@import "iview-style.scss";
@import "nestable.scss";


$screen-width : 1366px !default;
$font-size : 14px !default;//变量的值可以根据自己需求定义著作权归作者所有。
$default-color : #444 !default;
$is-mobile : true !default;
$line-height : 1.7 !default;
$family : "microsoft yahei" !default;
$placeholder : #999 !default;
$btn-padding: 14px 7px !default;
$space-xs: 5px !default;
$space-md: 10px !default;
$space-lg: 20px !default;
$line-weight: 1px !default;
$path : '../images/' !default;
$types : (default:#fff , link:transparent , primary:#428BCA , info:#5BC0DE ,  muted:#999, success:#5CB85C, warning: #F0AD4E , danger: #D9534F , dark:  #000, light: #c4caa5) !default;
$sizes : ( xs: 80%, sm: 90% , md: 100%, lg: 110%, xlg: 130%, xxlg: 160% , xxxlg: 200%) !default;

a , a:hover{
  text-decoration: none;
}

html{
  font-size: $font-size;
}

html, body {
  height: 100%;
}


body,.ivu-menu-item,.ivu-menu{
  font-size: 14px;
}

.nt-content {
  background: #ffffff;
  padding: 20px;
}

.nt-main {
  height: calc(100% - 80px);
}

.nt-wrapper {
  padding: 20px;
}


.collapsed-menu span {
  width: 0px;
  transition: width .2s ease;
}

.collapsed-menu i {
  transform: translateX(5px);
  transition: font-size .2s ease .2s, transform .2s ease .2s;
  vertical-align: middle;
  font-size: 22px;
}



.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}

.page-enter, .page-leave-to {
  opacity: 0;
}


.upload-list {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  margin-right: 4px;
}

.upload-list img {
  width: 100%;
  height: 100%;
}

.upload-list-cover {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .6);
}

.upload-list:hover .upload-list-cover {
  display: block;
}

.upload-list-cover i {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin: 0 2px;
}

.img-box{
  margin: 10px;
  border: 1px solid #d5d5d5;
  padding: 5px;
  &-img{
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  &-detail{
    text-align: center;
    margin-top: 10px;
    button{
      margin-left: 10px;
    }
  }
}
.ivu-card-bordered{
  margin-bottom: 24px;
}

.list-unstyled{
  &,li{
    margin: 0 ;
    padding: 0;
    list-style: none;
  }
}

.login{
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/login-bg.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  &-con{
    position: absolute;
    right: 160px;
    top: 10%;
    transform: translateY(0);
    width: 400px;
    .ivu-card-head p{
      font-size: 25px;
      font-weight: 300;
      text-align: center;
      padding: 5px;
      height: auto;
    }
    .ivu-card-body{
      padding: 20px 30px;
    }
    .form-con{
      padding: 10px 0 0;
    }
    .login-tip{
      font-size: 12px;
      text-align: center;
      color: #c3c3c3;
    }
  }
}