.floor-design{
  .panel{
    padding-bottom :20px;
    border: 1px solid #ddd;
    border-radius :10px;
    overflow :hidden;
  }
}

.drag-elements{
  li{
    margin : 0;
    padding: 10px;
    float: left;
    list-style: none;
  }
  overflow: hidden;
}

.drag-layer{
  background-color :#eeeeee;
  text-align :center;
  width :100px;
  display: inline-block;
  height: 100px;
  border-radius :2px;
  line-height :100px;
  color :#666;
  box-sizing: border-box;
  position :relative;
  &.active{
    border :1px solid #dddddd;
    background: #cbcbcb;
  }
  .layer-content,.layer-info{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  .layer-info{
    position: absolute;
    left: 0 ;
    top: 0;
  }
  span,div{
    pointer-events: none;
    display: block;
  }
  i{
    position: absolute;
    top : 5px;
    right: 5px;
    display :block;
    cursor: default;
  }
  &.on{
    opacity :.5;
  }
  .drop-size{
    width :5px;
    height:5px;
    border :1px solid #dddddd;
    background: #999;
    cursor :nwse-resize;
    position :absolute;
    right :0;
    bottom :0;
  }
}

.area-box{
  border: 1px solid #ddd;
  position:absolute;
  left :0;
  top :0;
}

.drag-elements{
  li{
    float :left;
    padding :10px;
  }
}

.drag-design{
  position: relative;
  width :100%;
  height :600px;
  overflow :hidden;
  user-select: none;
  -webkit-user-select: none;
  .drag-layer{
    position: absolute;
    left: 10px;
    top: 10px;
  }
}